/*NAVBAR*/
.nav-menu {
    background-color: #262626;
    color: #ffffff;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .nav-brand {
    width: auto;
    height: 80px;
    margin: 10px 20px;
  }
  
  .brand-title {
    display: inline;
    flex: 1;
  }
  
  .nav-list {
    display: flex;
    flex: 2;
    font-size: 18px;
  }
  
  .nav-list li {
    padding: 0 20px;
  }
  .nav-list li .link-menu {
    color: #ffffff;
    font-weight: 400;
    padding: 0 10px 10px 0;
    transition: ease-out 0.2s;
  }

  .nav-list li .link-menu:hover {
    margin-right: 10px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transition: ease-in 0.2s;
  }

  .btn-toggle{
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
  }

 

  @media only screen and (max-width: 750px) {
    .nav-list{
      background-color: #262626;
      display: block;
      padding-top: 10%;
      margin-top: 80px;
      width: 60%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: ease-in-out 0.5s;
    }
    .nav-list li{
      text-align: center;
      padding: 40px;
      font-size: 16px;
    }
    .btn-toggle{
      display: block;
    }

    .active{
      transform: translateX(-500px);
    }
 
  }

  @media only screen and (max-width: 380px) {
    
    .nav-menu{
      justify-content: space-between;
    }
      .nav-menu h2{
        display: none;
      }
  }